<div class="row">
  <div class="col s12">
    <div class="card" id="<%= question.id %>">
      <div class="card-content">
        <div class="row">
          <div class="col s12 titleRow">
            <span class="card-title"><%= question.author %></span>

              <div class="card small col s6 option1">
                <p><%= question.firstoption %></p>
                <%=  render 'votes/form', question: question, selection: 'option1'%>
                <p class="option1-vote-results-<%= question.id %>">
                </p>
              </div>

              <div class="card small col s6 option2">
                <p><%=  question.secondoption %></p>
                <%= render 'votes/form', question: question, selection: 'option2'%>
                <p class="option2-vote-results-<%= question.id %>">
                </p>
              </div>
          </div>
          <!-- <div class="col s6">
            <p>comments</p>
          </div> -->
        </div>
      </div>
      <%= link_to "Delete", question_path(question),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"}, remote: true %>
    </div>
  </div>
</div>
