<!DOCTYPE html>
<html>
  <head>
    <title>WouldYouRather</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="left brand-logo">Would You Rather...?</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "New Rather", new_question_path %></li>
            <li></li>
          </ul><br>
       </div>
      </nav>
    </div>

    <div class="container">
      <div class="notice">
        <%= flash[:notice] %>
      </div>
      <div class="alert">
        <%= flash[:alert] %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
